@import "library";
@import "reset";

$max_width: 960px;
$gutter_width: 20px;
$col_count: 12;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    width: $max_width;
}

// Global tags

body {
}

a {
    color: #693416;
}

// Everything else
