@import "library";
@import "reset";

// Global templates

%group {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

%container {
    margin: 0 auto;
    width: $max_width;
}

%container-wrap {
    margin: 0 auto;
    width: $wrap_width;
}

// Global tags

body {
    background: lighten(#51C6C5,20%);
    font-family: Lato, Helvetica;
}

a {
    color: #693416;
}

// Everything else

.alerts {
    @extend %container;
    margin-bottom: 2em;

    .alert {
        background: lighten(#837428,50%);
        // color: white;
        padding: .7em 1em;
        border-radius: 4px;

        strong {
            font-weight: bold;
        }

        i {
            margin-right: 10px;
        }
    }
}

$nav_border: fade-out(black,.9);

.navwrap {
    border-bottom: 1px solid $nav_border;
    margin-bottom: 2em;
}

.topnav {
    @extend %container-wrap;
    font-size: 0;
    border-right: $nav_border;

    > ul > li {
        font-size: 16px;
        display: inline-block;
        position: relative;
        border-right: 1px solid $nav_border;

        &:first-child {
            border-left: 1px solid $nav_border;
        }

        > a {
            width: floor(($wrap_width - 7) / 6);
            margin-right: 0;
            display: block;
            padding: .8em 1em;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            color: fade-out(black, .5);

            span {
                position: relative;
                padding-right: 16px;

                &:after {
                    @include arrow-down(fade-out(black, .5), 5px);
                    right: 0;
                    top: 6px;
                }
            }

        }

        &:hover {
            > a {
                color: fade-out(black,.2);
                background:fade-out(white,.7);
            }

            .subnav {
                display: block;
            }
        }
    }

    .subnav {
        width: 100%;
        display: none;
        position: absolute;
        z-index: 100;
        background: white;
        top: 100%;
        left: 0;
        margin-top: 1px;
        border-radius: 1px solid black;
        box-shadow: 0 0 3px fade-out(black,.8);

        a {
            display: block;
            text-align: left;
            text-decoration: none;
            padding: .5em .8em;
            border-bottom: 1px solid #f0f0f0;

            &:hover {
                background:#f7f7f7;
            }
        }
    }
}

.vontrapps .vontrapps,
.osmonds .osmonds,
.jacksons .jacksons,
.hansons .hansons,
.ronettes .ronettes,
.staples .staples,
{
    a {
        background:fade-out(white,.5);
        color: #333;
    }
}

.wrapwrap {
    @extend %container-wrap;
    background: white url(/img/bg.gif) repeat-y;
    border-radius: 10px;
    box-shadow: 0 0 5px fade-out(black,.7);
    margin-bottom: 2em;
}

.wrap {
    @extend %container;
    margin: 0 20px;
    font-size: 0;
    position: relative;
}

.sidenav {
    font-size: 0;
    margin-bottom: 20px;
    @include columnify(3);
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;

    &.stuck {
        position: fixed;
    }

    a {
        display: block;
        background: #111;
        color: #ddd;
        font-size: 20px;
        text-decoration: none;
        padding: 30px 0;
        border-top: 1px solid fade-out(white,.7);
        position: relative;
        padding-left: 44px;
        opacity: .7;

        &:before {
            content: "";
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -16px;
            background: #ddd url(http://www.fillmurray.com/31/31);
            border: 1px solid #444;
        }

        &.active {
            border-bottom: 1px solid fade-out(white,.7);
            font-weight: bold;
            opacity: 1;

            + a {
                border: none;
            }

            &:before {
                border-color: #aaa;
            }

            &:after {
                @include arrow-left(white, 12px);
                right: 0;
                top: 50%;
                margin-top: -12px;
            }
        }
    }
}

.store {
    @include offset(3);
    @include columnify(9);
    margin-right: 0;
    padding-top: 20px;
    display: inline-block;
    font-size: 0;
    position: relative;
}

h2 {
    font-size: 42px;
    line-height: 1;
    margin-bottom: .6em;
    padding: 12px 0;
    font-weight: bold;
}

.actions {
    position: absolute;
    top: 32px;
    right: 0;

    li {
        display: inline-block;
    }

    i {
        font-size: 20px;
        color: #693416;
        border: 1px solid #ddd;
        border-radius: 50%;
        display: inline-block;
        padding: 10px;
        width: 40px;
        height: 40px;
        position: relative;
        margin-left: 10px;

        &:before {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-left: -13px;
            // margin-top: -13px;
        }
    }
}

section {
    @include columnify(3);
    // box-shadow: 0 0 4px black;
    display: inline-block;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 1.5em;

    .item {
        height: 200px;
        background-color: #eee;
        background-size: cover;
        background-position: 50% 50%;
        margin-bottom: 1em;
    }

    .caption {
        h3 {
            font-weight: bold;
            font-size: 18px;

            a {
                text-decoration: none;
            }
        }

        p {
            color: #888;
        }
    }

    &:nth-of-type(3n) {
        margin-right: 0;
    }
}
