@import "library";
@import "reset";

$max_width: 960px;
$gutter_width: 20px;
$col_count: 12;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

body {
    font-family: Helvetica;
}

a {
    color: purple;
}

.alerts {
    margin-bottom: 2em;
    font-size: 14px;

    .alert {
        background: #555;
        color: white;
        border-radius: 4px;

        i {
            margin-right: 10px;
        }
    }
}

.wrapwrap {
    width: $max_width + 40px;
}

.wrap {
    font-size: 0;
}

@mixin columnify($num_cols) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
    margin-right: $gutter_width;
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}

nav {
    font-size: 0;
    margin-bottom: 20px;
    @include columnify(2.7);
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    border: 1px solid #444;

    a {
        display: block;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 0 10px 1em;
        position: relative;
        color: red;
        border: 1px solid darkblue;
    }
}

.store {
    @include columnify(9);
    border-radius: 10px;
    border: 2px solid #555;
    width: 750px;
    padding-top: 20px;
    display: inline-block;
    font-size: 0;
    margin-right: 0;
    position: relative;
}

h2 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: .8em;
    border-bottom: 3px dashed black;
}

.actions {
    border-bottom: 3px dashed black;
    margin-bottom: 12px;

    li {
        display: inline-block;
        font-size: 13px;
        border: 1px solid purple;
        margin-right: 10px;
        color: blue;
        padding: .5em 1em;
    }

    i {
        font-size: 20px;
        color: #693416;
        border: 1px solid #ddd;
        border-radius: 50%;
        display: inline-block;
        padding: 10px;
        width: 40px;
        height: 40px;
        position: relative;
        margin-left: 10px;
    }
}

section {
    @include columnify(3);
    display: inline-block;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 1.5em;
    vertical-align: middle;
    position: relative;

    &:nth-of-type(2n) {
        width: $col_width * 3.1 + $gutter_width * .33;

        .item {
            height: 230px;
        }
    }

    &:nth-of-type(3n) {
        .item {
            height: 210px;
        }
    }

    .item {
        height: 200px;
        background: #eee url(http://www.fillmurray.com/250/250) no-repeat center center;
        box-shadow: 0 0 4px black;
    }

    .caption {
        line-height: 1;
        font-size: 13px;
        box-shadow: 0 0 4px black;
        background: fade-out(black,.2);
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;

        h3 {
            display: inline-block;
            width: 34%;
            vertical-align: top;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        p {
            border-left: 1px solid #999;
            width: 55%;
            display: inline-block;
        }
    }
}
